
/*Definindo a fonte*/
@font-face {
    font-family: "unbounded";
src: url("../fonts/Unbounded-Bold.ttf")
format("truetype");
font-weight: 700;
font-style: normal;
font-display: swap;

}

@font-face {
    font-family: "poppins";
src: url("../fonts/Poppins-Regular.ttf")
format("truetype");
font-weight: 400;
font-style: normal;
font-display: swap;

}


/* reset simples */

*{
    margin: 0;
    padding:0;

}
/*Estilo desktop*/
body{
    background-color:#0E1014;
    color: #FFFFFF;

}

header img{
    display: block;
    margin: 75px 0 0 120px;
}

h1{
    font-size: 70px;
    font-family:"unbounded", sans-serif;
    text-align: center;
    margin-top: 60px;

}

h1 span{
    color: #9747FF;
    
}

p{
    font-size: 16px;
    font-family: "poppins", sans-serif;
    font-weight: "regular";
    text-align: center;
    margin: 24px auto 0;
    width: 600px;
    
}

a{
    color: #FFFFFF;
    font-family: "poppins", sans-serif;
    font-size: 13px;
    text-decoration: none;
    background-color: #9747FF;
    width: 180px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 22px;
    border-radius: 30px;
    margin: 40px auto;
}

a:hover{
     background-color: #8233E8
}

section img{
    display: block;
    width: 450px;
    height: 200px;
    margin: 0 auto;
}

@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 400px
    }
}

@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
       font-size: 20px;
        width: 341px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 341px;
        height: 230px;
    }
}